@import "bootstrap";

@import "bid";
@import "product";

html, body {
  margin: 20px;
}

td.amount {
  min-width: 10em;
  input {
    padding: 0;
    line-height: 0.9em;
    font-size: 0.9em;
    width: 5em;
  }
  div {
    display: inline;
  }
  form {
    display: inline-block;
  }
  button {
    visibility: hidden;
    &.is-dirty{
      visibility: visible;
    }
  }
  &.bid-active span {
    text-decoration: none;
    border-bottom: dashed 1px;
    cursor: pointer;
  }
}
