Invoices:

{{#each}}
<div class="panel panel-default">
  <div class="panel-heading">
    {{format-date created_at}}
  </div>
  {{partial 'invoice-products'}}
  <div class="panel-footer">
    {{#unless received}}
      <button {{action "receive"}} class="btn btn-warning">Receive</button>
    {{/unless}}
  </div>
</div>
{{/each}}

{{outlet}}
