Invoices:

{{#each}}
  <div class="well">
    {{format-date created_at}}
    {{#unless received}}
      <button {{action "receive"}} class="btn btn-warning">Receive</button>
    {{/unless}}
  </div>

  {{partial 'invoice-products'}}
{{/each}}

{{outlet}}
