Invoices:

{{#each}}
  <div class="well invoice">
    <table>
      <tr>
        <td>
          {{format-date created_at}}
        </td>
        <td>
          {{#unless received}}
            <button {{action "receive"}} class="btn btn-warning receive">Receive</button>
          {{/unless}}
        </td>
      </tr>
    </table>
  </div>

  {{partial 'invoice-products'}}
{{/each}}

{{outlet}}
