<div class="panel panel-primary">
  <div class="panel-heading">
    <button {{action "toggleSettings"}} class="btn btn-warning btn-xs">
      {{#if settingsShown}}
        Hide Settings
      {{else}}
        Show Settings
      {{/if}}
    </button>
  </div>
  {{partial 'products-table'}}
</div>
