<ul class="nav nav-pills nav-stacked">
  {{#link-to "invoices" tagName="li" href=false}}
    <a {{bind-attr href="view.href"}}>Invoices</a>
  {{/link-to}}
  {{#link-to "products" tagName="li" href=false}}
    <a {{bind-attr href="view.href"}}>Products</a>
  {{/link-to}}
  {{#link-to "orders" tagName="li" href=false}}
    <a {{bind-attr href="view.href"}}>Orders</a>
  {{/link-to}}
</ul>
